{% load static %}
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/1.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/2.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/3.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/4.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/5.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/6.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/7.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/8.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/9.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/10.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/11.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/12.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/13.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/14.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/15.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/16.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/17.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/18.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/19.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/20.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/21.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/22.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/23.webp' %}" loading="lazy">
<img class="post-image" width="960" height="540" src="{% static 'komik/list/img/2/24.webp' %}" loading="lazy">
