{% load static %}
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/1.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/2.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/3.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/4.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/5.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/6.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/7.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/8.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/9.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/10.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/11.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/12.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/13.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/14.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/15.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/16.webp' %}" loading="lazy">
<img class="post-image" width="1188" height="1000" src="{% static 'komik/list/img/3/17.webp' %}" loading="lazy">
