* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: #4b4b4b;
  background-color: rgba(244, 246, 250, 255);
  box-sizing: border-box; /* Include padding and borders in the element's total width and height */
}

/* Preloader Styles */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(10rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease; /* Add transition for opacity */
  z-index: 9999;
}

/* Hide the preloader by setting opacity to 0 */
.preloader.hidden {
  opacity: 0;
  pointer-events: none; /* Prevent interaction while hidden */
}

.loading-text {
  text-align: center;
  font-weight: bold;
  margin: 1rem;
}

.loader {
  border: 8px solid #9ecdff;
  border-top: 8px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  margin: 0.25rem;
  max-width: 38rem;
  width: 100%;
  padding: 0 1.25rem 3rem 1.25rem;
  transition: opacity 0.25s; /* Apply a transition effect to the opacity property */
}

.text-user {
  text-align: center;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.text-message {
  text-align: center;
  font-weight: 600;
}

.text-submit {
  text-align: center;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.user-icon {
  text-align: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 100px; /* Set your desired width */
  height: 100px; /* Set your desired height */
  border-radius: 50%;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
}

.form-outline {
  margin-bottom: 1.25rem;
}

.form-control {
  width: 100%;
  padding: 1.25rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2.5rem;
  font-size: 0.9rem;
  transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #007bff; /* Change border color when focused */
  outline: none; /* Remove default focus outline */
}

input[type="submit"] {
  cursor: pointer;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #3a60fb;
  color: #d3d3d3;
  border: none;
  border-radius: 2.5rem;
  font-size: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #5073ff; /* Change color on hover */
}

input[type="submit"]:active {
  background-color: #234fff; /* Change color when clicked */
}

.footer {
  background-color: #e6e6e6;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1rem;
}

.footer-text {
  margin: 1rem;
  font-size: 0.9rem;
}

.footer-text a {
  color: #3a60fb;
  text-decoration: none;
}

/* Color when hovering over the link */
.footer-text a:hover {
  color: #5073ff;
}

/* Color when the link is clicked */
.footer-text a:active {
  color: #234fff;
}

/* Color for visited links */
.footer-text a:visited {
  color: #3a60fb; /* Change to the desired color */
}
