<!DOCTYPE html>
<html lang="id">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ketentuan Layanan - SIEMA</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'terms/css/styles.css' %}" />
		<script src="{% static 'terms/js/scripts.js' %}" async></script>
	</head>
	<body>
		<div class="preloader">
			<div class="loader"></div>
			<div class="loading-text">Sedang Memuat ...</div>
		</div>
		<div class="main-content">
			<header>
				<h1>SIEMA</h1>
				<p>Ketentuan Layanan</p>
			</header>
			<section>
				<h2>
					<strong><span>Ketentuan Layanan untuk SIEMA</span></strong>
				</h2>
				<p><span>Terakhir diperbarui: 17 November 2023</span></p>
				<p>
					<span
						>Selamat datang di SIEMA! Sebelum Anda mulai menggunakan layanan
						kami, harap baca (&quot;Ketentuan Layanan&quot;) ini
						dengan seksama. Dengan mengakses atau menggunakan aplikasi kami,
						Anda setuju untuk terikat oleh Ketentuan ini. Jika Anda tidak setuju
						dengan Ketentuan ini, mohon untuk tidak menggunakan aplikasi
						kami.</span
					>
				</p>
				<p>
					<span><strong>1. Kesepakatan atas Ketentuan</strong></span>
				</p>
				<p>
					<span
						>Dengan menggunakan SIEMA, Anda setuju untuk mematuhi dan terikat
						secara hukum oleh Ketentuan ini. Jika Anda tidak setuju, mohon untuk
						tidak menggunakan aplikasi kami.</span
					>
				</p>
				<p>
					<span><strong>2. Kebijakan Privasi</strong></span>
				</p>
				<p>
					<span
						>Privasi Anda penting bagi kami. Silakan tinjau
						<a href="{% url 'privacy-policy' %}"> Kebijakan Privasi</a> kami
						untuk memahami bagaimana kami mengumpulkan, menggunakan, dan
						mengungkapkan informasi.</span
					>
				</p>
				<p>
					<span><strong>3. Penggunaan Cookie</strong></span>
				</p>
				<p>
					<span
						>Kami menggunakan cookie untuk meningkatkan pengalaman pengguna
						Anda, meningkatkan kinerja aplikasi kami, dan menyediakan konten
						yang dipersonalisasi. Dengan menggunakan SIEMA, Anda menyetujui
						penggunaan cookie sesuai dengan Kebijakan Privasi dan Ketentuan
						ini.</span
					>
				</p>
				<p>
					<span><strong>4. Informasi Cookie</strong></span>
				</p>
				<p>
					<span
						>Cookie adalah potongan kecil data yang disimpan di perangkat Anda.
						Kami menggunakan cookie untuk tujuan berikut:</span
					>
				</p>
				<ol style="list-style-type: lower-alpha">
					<li>
						<span
							>Kinerja: Untuk menganalisis dan mengoptimalkan kinerja aplikasi
							kami.</span
						>
					</li>
					<li>
						<span
							>Manajemen Sesi: Untuk mengelola sesi pengguna dan memberikan
							pengalaman yang mulus.</span
						>
					</li>
					<li>
						<span>Keamanan: Untuk meningkatkan keamanan aplikasi kami.</span>
					</li>
				</ol>
				<p>
					<span><strong>5. Tanggung Jawab Pengguna</strong></span>
				</p>
				<ol style="list-style-type: lower-alpha">
					<li>
						<span
							>Anda bertanggung jawab untuk menjaga kerahasiaan informasi akun
							Anda.</span
						>
					</li>
					<li>
						<span
							>Anda setuju untuk tidak terlibat dalam aktivitas apa pun yang
							dapat membahayakan keamanan SIEMA.</span
						>
					</li>
				</ol>
				<p>
					<span><strong>6. Penghentian</strong></span>
				</p>
				<p>
					<span
						>Kami berhak untuk menghentikan atau menangguhkan akses Anda ke
						SIEMA kapan saja, tanpa pemberitahuan, dengan alasan apa pun.</span
					>
				</p>
				<p>
					<span><strong>7. Perubahan Ketentuan</strong></span>
				</p>
				<p>
					<span
						>Kami dapat memperbarui Ketentuan ini dari waktu ke waktu. Anda
						bertanggung jawab untuk meninjau Ketentuan ini secara berkala. Jika
						Anda terus menggunakan [Aplikasi Pendidikan Anda] setelah ada
						perubahan, berarti Anda menerima Ketentuan yang telah
						diperbarui.</span
					>
				</p>
				<p><br /></p>
				<p>
					Jika Anda memiliki pertanyaan atau masalah tentang Ketentuan Layanan
					dan Kebijakan Privasi ini, silakan
					<a href="{% url 'feedback_form' %}">Hubungi Kami</a>.
				</p>
				<p>
					Dengan menggunakan SIEMA, Anda mengakui bahwa Anda telah membaca,
					memahami, dan setuju untuk terikat oleh Ketentuan Layanan dan
					Kebijakan Privasi. Terima kasih telah memilih SIEMA!
				</p>
			</section>

			<footer>
				<p>&copy; SIEMA 2023. Seluruh hak cipta dilindungi.</p>
			</footer>
		</div>
	</body>
</html>
