<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dasbor SIEMA</title>
    {% load static %}
    <style>
        .background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url("{% static 'dasbor/img/bg.png' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5;
        filter: blur(2rem);
        z-index: -2;
      }
    </style>
    <link rel="stylesheet" href="{% static 'dasbor/css/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"
      async
    ></script>
  </head>
  <body>
    <div class="preloader">
      <div class="loader"></div>
      <div class="loading-text">Sedang Memuat ...</div>
    </div>
    <div class="background"></div>
    <!-- <div class="plane"></div> -->
    <header>
      <div class="title he1">DASBOR SIEMA</div>
      <br />
      <div class="welcome he3">Selamat Datang, <strong>{{ user.first_name }}</strong>!</div>
      <br>
      <div class="activity he4">
        {% if latest_user_activity.activity_type == 'Materi' %}
          <a href="{% url 'material-detail' latest_user_activity.activity_level %}">
            <div>Aktivitas Terakhir: {{ latest_user_activity.last_activity|date:"l, d M Y" }}</div>
            <div>{{ latest_user_activity.activity_title }}</div>
            <div>Materi: {{ latest_user_activity.activity_level }}</div>
          </a>
        {% elif latest_user_activity.activity_type == 'Komik' %}
          <a href="{% url 'comic-detail' latest_user_activity.activity_level %}">
            <div>Aktivitas Terakhir: {{ latest_user_activity.last_activity|date:"l, d M Y" }}</div>
            <div>{{ latest_user_activity.activity_title }}</div>
            <div>Komik: {{ latest_user_activity.activity_level }}</div>
          </a>
        {% elif latest_user_activity.activity_type == 'Quiz' %}
          <a href="{% url 'quiz-detail' latest_user_activity.activity_level %}">
            <div>Aktivitas Terakhir: {{ latest_user_activity.last_activity|date:"l, d M Y" }}</div>
            <div>{{ latest_user_activity.activity_title }}</div>
            <div>Quiz: {{ latest_user_activity.activity_level }}</div>
          </a>
        {% endif %}
      </div>
    </header>
    <br />
    <div class="main-content">
      <div class="information-section">
        <div class="header-information">
          <div class="text-information he2">Informasi Terbaru</div>
<!--          <a href="{% url 'article-list' %}" class="text-information he3">Lihat Semua</a>-->
        </div>
        <div class="information">
          {% if all_latest_data %}
            {% for item in all_latest_data %}
              {% if item.type == 'Post' %}
                {# Render the Post data #}
                <a href="{% url 'article-detail' item.pk %}" class="post">
                  {% if item.thumbnail %}
                    <img class="post-image" src="{% static item.thumbnail %}" />
                  {% else %}
                    <img class="post-image" src="{% static 'thumbnail/tb-informasi.webp' %}" />
                  {% endif %}
                  <div class="post-title he2">{{ item.title|truncatewords:5 }}</div>
                  <div class="post-detail he4">{{ item.detail|truncatewords:5 }}</div>
                  <div class="post-date he4">{{ item.date_added|date:"l, d M Y" }}</div>
                </a>
              {% elif item.type == 'Materi' %}
                {# Render the Material data #}
                <a href="{% url 'material-detail' item.level %}" class="post">
                  {% if item.thumbnail %}
                    <img class="post-image" src="{% static item.thumbnail %}" />
                  {% else %}
                    <img class="post-image" src="{% static 'thumbnail/tb-materi.webp' %}" />
                  {% endif %}
                  <div class="post-title he2">Materi: {{ item.level }} | {{ item.title|truncatewords:5 }}</div>
                  <div class="post-detail he4">{{ item.detail|truncatewords:5 }}</div>
                  <div class="post-date he4">{{ item.date_added|date:"l, d M Y" }}</div>
                </a>
              {% elif item.type == 'Komik' %}
                {# Render the Comic data #}
                <a href="{% url 'comic-detail' item.level %}" class="post">
                  {% if item.thumbnail %}
                    <img class="post-image" src="{% static item.thumbnail %}" />
                  {% else %}
                    <img class="post-image" src="{% static 'thumbnail/tb-komik.webp' %}" />
                  {% endif %}
                  <div class="post-title he2">Komik: {{ item.level }} | {{ item.title|truncatewords:5 }}</div>
                  <div class="post-detail he4">{{ item.detail|truncatewords:5 }}</div>
                  <div class="post-date he4">{{ item.date_added|date:"l, d M Y" }}</div>
                </a>
              {% elif item.type == 'Quiz' %}
                {# Render the Quiz data #}
                <a href="{% url 'quiz-detail' item.level %}" class="post">
                  {% if item.thumbnail %}
                    <img class="post-image" src="{% static item.thumbnail %}" />
                  {% else %}
                    <img class="post-image" src="{% static 'thumbnail/tb-kuis.webp' %}" />
                  {% endif %}
                  <div class="post-title he2">Kuis: {{ item.level }} | {{ item.title|truncatewords:5 }}</div>
                  <div class="post-detail he4">{{ item.detail|truncatewords:5 }}</div>
                  <div class="post-date he4">{{ item.date_added|date:"l, d M Y" }}</div>
                </a>
              {% endif %}
            {% endfor %}
          {% else %}
            <div class="no-post he2">Tidak ada informasi</div>
          {% endif %}
        </div>
      </div>
      <br />
      <div class="header-categories">
        <div class="text-categories he2">Kategori</div>
        <!-- <a href="#" class="text-information he3">Lihat Semua</a> -->
      </div>
      <div class="categories he4">
        <a href="{% url 'material-list' %}" class="cat">
          <img class="cat-image" src="{% static 'dasbor/img/book.webp' %}" />
          <div class="cat-title">Materi</div>
        </a>
        <a href="{% url 'comic-list' %}" class="cat">
          <img class="cat-image" src="{% static 'dasbor/img/story.webp' %}" />
          <div class="cat-title">Komik</div>
        </a>
        <a href="{% url 'quiz-list' %}" class="cat">
          <img class="cat-image" src="{% static 'dasbor/img/quiz.webp' %}" />
          <div class="cat-title">Kuis</div>
        </a>
        <a href="https://drive.google.com/uc?id=12qPc9vH5H8ONAzy4Nwg9F1Wy7oEMzTrd&export=download" class="cat">
          <img class="cat-image" src="{% static 'dasbor/img/manual.webp' %}" />
          <div class="cat-title">Petunjuk Penggunaan</div>
        </a>
<!--        <a href="#" class="cat">-->
<!--          <img class="cat-image" src="{% static 'dasbor/img/faq.webp' %}" />-->
<!--          <div class="cat-title">FAQ</div>-->
<!--        </a>-->
        <a href="home" class="cat">
          <img class="cat-image" src="{% static 'dasbor/img/about.webp' %}" />
          <div class="cat-title">Tentang SIEMA</div>
        </a>
      </div>
    </div>
    <div class="footer">
      <a href="{% url 'dashboard' %}">
        <box-icon name="home" color="rgba(58, 94, 235, 255)"></box-icon>
      </a>
      <a href="{% url 'search' %}">
        <box-icon name="search" color="rgba(58, 94, 235, 255)"></box-icon>
      </a>
      <!-- <a href="#">
        <img src="chat-icon.png" alt="Chat" />
      </a> -->
      <a href="{% url 'profile' %}">
        <box-icon name="user" color="rgba(58, 94, 235, 255)"></box-icon>
      </a>
    </div>
    <script src="{% static 'dasbor/js/scripts.js' %}"></script>
  </body>
</html>
