{% extends 'home_base.html' %}

{% block title %}Post{% endblock %}

{% block custom_css %}
{% load static %}
    <!-- Additional CSS for this page -->
<!--    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">-->
{% endblock %}

{% block content %}
    <h1>Informasi</h1>
    <ul>
        {% for post in latest_article %}
            <li>
                <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a><br>
                <span class="author">{{ post.author.first_name }} {{ post.author.last_name }}</span><br>
                <p class="body">{{ post.detail }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'article-list' %}" class="show-more-button">Show More</a>
    <br>
    <br>
    <h1>Materi</h1>
    <ul>
        {% for material in latest_material %}
            <li>
                <a href="{% url 'material-detail' material.pk %}">{{ material.title }}</a><br>
                <span class="author">{{ material.author.first_name }} {{ material.author.last_name }}</span><br>
                <p class="body">{{ material.detail }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'comic-list' %}" class="show-more-button">Show More</a>
    <h1>Komik</h1>
    <ul>
        {% for comic in latest_comic %}
            <li>
                <a href="{% url 'material-detail' material.pk %}">{{ comic.title }}</a><br>
                <span class="author">{{ comic.author.first_name }} {{ comic.author.last_name }}</span><br>
                <p class="body">{{ comic.detail }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'comic-list' %}" class="show-more-button">Show More</a>
    <br>
    <h1>Quiz</h1>
    <ul>
        {% for quiz in latest_quiz %}
            <li>
                <a href="{% url 'material-detail' material.pk %}">{{ quiz.title }}</a><br>
                <span class="author">{{ quiz.author.first_name }} {{ quiz.author.last_name }}</span><br>
                <p class="body">{{ quiz.detail }}</p>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'quiz-list' %}" class="show-more-button">Show More</a>
{% endblock %}

{% block custom_js %}
    <!-- Additional JS for this page -->
    <script src="{% static 'home/js/scripts.js' %}"></script>
{% endblock %}
